html {
    background-color: #e8e8e8;
    font-family: Arial, sans-serif;
}
.background-footer{
    margin: auto;
    width: 50%;
    width: 1100px;
    height: 518px;
    background-color: white;
}

.inline-total{
    display: flex;
}

.rule-top{
    padding-top: 10px;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: auto;
}

.inline-ft{
    width: 800px;
    position: relative;
}

.inline-mail{
    position: absolute;
    top: 13%; right: 2%;
}

.input_footer{
    font-family: Arial, sans-serif;
    height: 55px;
    width: 800px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid #FBA1B7;
    background-color: #F9EEF0;  
}


/* Component Information */
.devided-block{
    width: 275px;
    height: 70px;
}

.text-right{
    padding-left: 10%;
}

.text-head{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 10%;

}

.text-right-child{
    padding-left: 20%;
    font-size: 14px;
}

.text-left{
    text-align: left;
    font-size: 14px;
    padding-left: 10%;
 }